*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 160px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efeff7ef;
}
nav{
    width: auto;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
nav h2{
    font-size: 30px;
}
nav button{
    width: 116px;
    height: 52px;
    text-align: center;
    color: #006A50;
    background: none;
    border-color: #006A50;
    font-weight: bold;
    border-radius: 8px;
}
nav button:hover{
    cursor: pointer;
    background-color: #006A50;
    color: aliceblue;
}
header{
    width: auto;
    max-height: 560px;
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
    
}
header div{
    gap: 60px;
}
.banner h1{
    color: rgb(14,14,14,50%);
}
.banner p{
    font-size: 45px;
    font-weight: 1000;
}
.banner button{
    width: 270px;
    height: 56px;
    font-size: 17px;
    text-align: center;
    background-color: #006A50;
    color: #C6E4D6;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}
.banner button:hover{
    background-color: aqua;
    font-size: 18px;
    font-weight: 800;
    color: black;
}
.title-txt{
    margin-top: 80px;
    margin-bottom: 24px;
    font-size: 40px;
}
.pillars{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.pillars img{
    width: 64px;
    height: 64px;
}
.pillar-content{
    width: 302px;
    height: 244px;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 1px 1px 3px black;
}
.pillar-content h2{
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    color: rgb(14, 14, 14, 80%);
}
.visions{
    margin: 32px 0; 
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.visions img{
    width: 62px;
    height: 62px;
}
.vision-content{
    max-width: 415px;
    max-height: 325px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 1px 1px 3px black;
}
.vision-content p{
    margin-bottom: 24px;
}
.vision-content button{
    width: 122px;
    height: 41px;
    text-align: center;
    border-radius: 8px;
    left: 100%;
    bottom: 100%; 
}

#tn-1{
    background-color: rgb(84, 144, 245, 20%);
}
#tn-1 button{
    background-color: #5490F5;
    color: #eafaf2;
    font-size: medium;
    font-weight: bold;
    border: none;
}
#tn-1 button:hover{
    background-color: #006A50;
}
#tn-2{
    background-color: rgb(198, 228, 214);
}
#tn-2 button{
    background-color: #006A50;
    color: #eafaf2;
    font-size: medium;
    font-weight: bold;
    border: none;
}
#tn-2 button:hover{
    background-color: #5490F5;
}
#tn-3{
    background-color: #F7EBCF;
}
#tn-3 button{
    background-color: #FFC239;
    color: #eafaf2;
    font-size: medium;
    font-weight: bold;
    border: none;
}
#tn-3 button:hover{
    background-color: #2a05ad;
}
.advisor-speech{
    border-radius: 16px;
    background-color: #ffffff;
    padding: 24px 24px;
}
#advisor{
    background: url(B11A1--assignment-1-main/assets/quote-bg.png) ;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: top left;
}
.your-choice{
    padding: 32px;
    border-radius: 16px;
    background-color: #ffffff;
}
.your-choice table{
    width: 100%;
    border-collapse: collapse;
}
tr{
    height: 92px;
    padding: 24px;
}
th{
    background-color: #C6E4D6;
}
td{
    border: 1px solid #dddddd;
    font-size: 16px;
    font-weight: bold;
}
.lefted{
    text-align: left;
    padding: 24px ; 
}
.righted{
    text-align: center;
}
.righted select{
    color: #0e0e0e;
    font-size: medium;
    font-weight: bold;
    padding: 14px;
    border-radius: 4px;
    background-color: #C6E4D6;
    border: 1px solid black;
}